.movies {
  margin: 0 auto;
  background-color: #202020;
  padding: 0;
  max-width: 1280px;
}
.movies__button {
  display: block;
  width: 320px;
  height: 36px;
  margin: 50px auto 80px;
  padding: 0;
  background: #2f2f2f;
  border-radius: 6px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}
.movies__button:hover {
  opacity: 0.8;
  transition: linear 0.3s;
}

.movies__button_hide {
  display: none;
}
.movies__error{
  display: flex;
  justify-content:center;
  color: #ffff;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .movies__button {
    width: 240px;
  }
}
