.profile {
  padding: 0 70px 70px 70px;
  background-color: #202020;
}
.profile__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin: 74px auto 123px;
}
.profile__info {
  display: flex;
  justify-content: space-between;
  width: 410px;
  margin: 0 auto;
}
.profile__info_data {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  margin: 0;
}
.profile__line {
  background: #424242;
  height: 1px;
  border: none;
  margin: 16px auto 17px;
  width: 410px;
}
.profile__edit {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background: none;
  border: 0;
  margin: 220px auto 16px;
  display: flex;
  cursor: pointer;
}
.profile__edit:hover {
  opacity: 0.8;
  transition: linear 0.3s;
}
.profile__exit {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  background: none;
  border: 0;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
}
.profile__exit:hover {
  opacity: 0.8;
  transition: linear 0.3s;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile {
    padding: 0 30px 269px 30px;
  }
  .profile__title {
    margin: 236px 0 96px;
  }
  .profile__edit {
    margin-top: 210px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    padding: 0 14px 40px 14px;
  }
  .profile__title {
    margin: 70px 0 80px;
  }
  .profile__info {
    width: 260px;
  }
  .profile__line {
    width: 260px;
  }
  .profile__edit {
    margin-top: 379px;
    font-size: 12px;
    line-height: 15px;
  }
  .profile__exit {
    font-size: 12px;
    line-height: 15px;
  }
}
